{% extends 'base.html' %}
{% block title %}{{ post.title }} - Blog minimal{% endblock %}
{% block content %}
  <article>
    <h1 class="mb-3">{{ post.title }}</h1>
    <p class="text-muted small">
      Publié le {{ post.created|date:"d/m/Y à H:i" }}
      {% if post.author %} par {{ post.author.username }}{% endif %}
      | Mis à jour le {{ post.updated|date:"d/m/Y à H:i" }}
    </p>
    <hr>
    <div class="post-body">
      {{ post.body|linebreaks|safe }}
    </div>
    <hr>
    <a href="{% url 'post_list' %}" class="btn btn-secondary">&larr; Retour à la liste</a>
  </article>
{% endblock %}


